<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Flask Session Demo</title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        <p class="{{ category }}" style="color: {{ 'red' if category == 'error' else 'green' }}">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}
</body>
</html>